.inbox-container {
    display: flex;
    height: 100vh;
}
  
.sidebar {
    width: 33%;
    padding: 16px;
    border-right: 1px solid #ddd;
}

.card {
    margin-bottom: 16px;
    border-color: black;
    border-radius: 5px;
}

.CardDescription{
    color: black;
}

.chat-section {
    width: 67%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.chat-user-name {
    font-weight: lighter;
}

.chat-preview {
    color: black;
}

.chat-header {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 16px;
}

.chat-messages {
    flex: 1;
    margin-bottom: 16px;
}

.message {
    margin: 16px 16px;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: center;
}

.message-content {
    border: 1px solid black;
    padding: 16px;
    border-radius: 8px;
    margin: 0 16px;
}

.separator {
    margin: 16px 0;
    height: 1px;
    background-color: #ddd;
}

.input-section {
    display: flex;
    align-items: center;
}

.input-field {
    flex: 1;
    margin-right: 16px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
}
